In [50]:
"""
Скрипт для создания сводный таблиц по отчету
"""

'\nСкрипт для создания сводный таблиц по отчету\n'

In [51]:
import pandas as pd
import openpyxl
import numpy as np
import re

In [72]:
str_column ='20,22' # колонки для сводной таблицы
#str_column = 'fgg'
str_target_column = '6' # целевая колонка

In [53]:
file_data = 'data/Сводная таблица/data.xlsx'
sheet_name = 'Лист1'
end_folder = 'data/Сводная таблица/result'

In [54]:
df = pd.read_excel(file_data,sheet_name=sheet_name,dtype=str)

In [55]:
# обрабатываем список колонок по которым нужно группировать
_lst_cols = re.findall(r'\d+',str_column) # находим цифры
if _lst_cols:
    lst_number_cols =  list(map(int,_lst_cols))
else:
    print('Введите порядковые номера колонок в виде цифр')

In [56]:
lst_number_cols

[20, 21, 22]

In [57]:
_target_col =re.search(r'\d+',str_target_column)
if _target_col:
    target_number_column =  int(_target_col.group())
else:
    print('Введите порядковые номера колонок в виде цифр')

In [58]:
target_number_column

2

In [59]:
lst_name_column = [] # список для хранения названий колонок сводной таблицы
for value in lst_number_cols:
    if value != 0:
        lst_name_column.append(df.columns[value-1])

In [60]:
lst_name_column

['Отделение', 'Группа', 'Направление_подготовки']

In [61]:
if target_number_column != 0: 
    target_name_column = df.columns[target_number_column-1]
else:
    print('Порядковые номера колонок начинаются с 1')

In [73]:
lst_func = ['sum','mean','median','max','min']

In [70]:
pd.pivot_table(df,
              index=lst_name_column,

              values=target_name_column, 
            
              aggfunc=pd.unique)

                                                                                                                                           Фамилия
Отделение                             Группа Направление_подготовки
Отделение железнодорожного транспорта ДА-989 15.01.05 Сварщик (ручной и частично механизиров...                                      [Панин, Труш]
                                             15.01.33 Токарь на станках с числовым программн...                                         [Дубинкин]
                                             23.01.09 Машинист локомотива                        [Алехин, Грибанов, Мандрыко, Соловаьева, Пасту...
                                             23.01.10 Слесарь по обслуживанию и ремонту подв...         [Янушевская, Ромазана, Лешев, Никулаичева]
                                             23.02.06 Техническая эксплуатация подвижного со...                              [Эсаулова, Антонович]
...                                                                                                                                            ...
Отделение энергоснабжения             ПЭ-344 23.01.09 Машинист локомотива                                                      [Гавриков, Наполов]
                                             23.01.10 Слесарь по обслуживанию и ремонту подв...             [Фурикова, Русанова, Евлентьев, Ясева]
                                             23.01.17 Мастер по ремонту и обслуживанию автом...                                   [Сизов, Дукачёв]
                                             23.02.06 Техническая эксплуатация подвижного со...                             [Пивоваров, Толбугина]
                                             23.02.07 Техническое обслуживание и ремонт двиг...                               [Панькив, Кошельков]

[216 rows x 1 columns]

In [74]:
pd.pivot_table(df,
              index=lst_name_column,

              values=target_name_column, 
            
              aggfunc=pd.unique).to_excel(f'{end_folder}/dsf.xlsx')