In [ ]:
"""
скрипт для добавления колонок с абсолютной и относительной разницей
"""

In [1]:
import pandas as pd
import numpy as np

In [ ]:
def abs_diff(first_value,second_value):
    """
    Функция для подсчета аб
    """

In [8]:
df1 = pd.read_excel('data/Сложный вариант таблицы №1.xlsx',dtype=str)
df2 = pd.read_excel('data/Сложный вариант таблицы №96.xlsx',dtype=str)

In [9]:
df1.head()

,Субъект РФ,Unnamed: 1,Unnamed: 2,Амурская область,Unnamed: 4,Unnamed: 5,Астраханская область,Unnamed: 7,Unnamed: 8,Волгоградская область,...,Unnamed: 35,Тверская область,Unnamed: 37,Unnamed: 38,Томская область,Unnamed: 40,Unnamed: 41,Тюменская область,Unnamed: 43,Unnamed: 44
0,№ показателя,Наименование индикатора/показателя,Единица измерения,Фактическое значение на конец 2021года,Планируемое значение на 2022 год,Фактическое значение по итогам I квартала 2022...,Фактическое значение на конец 2021 года,Планируемое значение на 2022 год,Фактическое значение по итогам I квартала 2022...,Фактическое значение на конец 2021 года,...,Фактическое значение по итогам I квартала 2022...,Фактическое значение на конец 2021 года,Планируемое значение на 2022 год,Фактическое значение по итогам I квартала 2022...,Фактическое значение на конец 2021 года,Планируемое значение на 2022 год,Фактическое значение по итогам I квартала 2022...,Фактическое значение на конец 2021 года,Планируемое значение на 2022 год,Фактическое значение по итогам I квартала 2022...
1,1,Создана цифровая платформа ЦОПП в сети Интернет,да/нет,да,да,да,да,да,да,да,...,да,да,да,да,да,да,да,да,да,да
2,2,"Численность граждан Российской Федерации, охва...",человек,12026,12026,318,42432,3950,538,4356,...,12530,6546,4000,в процессе обучения 87 чел.,15747,8202,2681,27255,32000,11466
3,2.1,из них (из строки 02) в возрасте:\n– до 16 лет,человек,0,4000,9,9350,2500,66,0,...,7541,6369,500,в процессе обучения 87 чел.,3665,0,172,21209,22000,9625
4,2.2,– от 16 до 21 года,человек,138,2000,73,10558,400,133,0,...,4705,1151,0,0,4927,0,2008,1896,3000,725

In [10]:
df_cols = df1.compare(df2,result_names=('Первая таблица','Вторая таблица')) # датафрейм с разницей по колонкам
df_cols.index = list(map(lambda x: x + 2, df_cols.index)) # добавляем к индексу +2 чтобы соответствовать нумерации в экселе
df_cols.index.name = '№ строки' # переименовываем индекс

df_rows = df1.compare(df2, align_axis=0, result_names=('Первая таблица', 'Вторая таблица')) # датафрейм с разницей по строкам
lst_mul_ind = list(map(lambda x: (x[0] + 2, x[1]), df_rows.index)) # добавляем к индексу +2 чтобы соответствовать нумерации в экселе
index = pd.MultiIndex.from_tuples(lst_mul_ind, names=['№ строки', 'Таблица']) # создаем мультиндекс
df_rows.index = index

In [11]:
df_cols

         Амурская область                   Unnamed: 41
           Первая таблица Вторая таблица Первая таблица Вторая таблица
№ строки
4                   12026          11000            NaN            NaN
22                    NaN            NaN           2373            NaN

In [12]:
df_cols.columns

MultiIndex([('Амурская область', 'Первая таблица'),
            ('Амурская область', 'Вторая таблица'),
            (     'Unnamed: 41', 'Первая таблица'),
            (     'Unnamed: 41', 'Вторая таблица')],
           )