In [180]:
"""
скрипт для добавления колонок с абсолютной и относительной разницей
"""

'\nскрипт для добавления колонок с абсолютной и относительной разницей\n'

In [181]:
import pandas as pd
import numpy as np

In [182]:
def abs_diff(first_value,second_value):
    """
    Функция для подсчета абсолютной разницы между 2 значениями
    """
    try:
        return float(first_value) - float(second_value)
    except:
        return None

In [183]:
def percent_diff(first_value,second_value):
    """
    функция для подсчета относительной разницы значений
    """
    try:
        # округляем до трех
        value = round(float(second_value) / float(first_value),4) * 100
        return value
    except:
        return None

In [184]:
def change_perc_diff(first_value,second_value):
    """
    функция для подсчета процентного ихменения значений
    """
    try:
        value = (float(second_value) - float(first_value)) / float(first_value)
        return round(value,4) * 100
    except:
        return None

In [185]:
df1 = pd.read_excel('data/Сложный вариант таблицы №1.xlsx',dtype=str)
df2 = pd.read_excel('data/Сложный вариант таблицы №96.xlsx',dtype=str)

In [186]:
df_cols = df1.compare(df2,result_names=('Первая таблица','Вторая таблица')) # датафрейм с разницей по колонкам
df_cols.index = list(map(lambda x: x + 2, df_cols.index)) # добавляем к индексу +2 чтобы соответствовать нумерации в экселе
df_cols.index.name = '№ строки' # переименовываем индекс

df_rows = df1.compare(df2, align_axis=0, result_names=('Первая таблица', 'Вторая таблица')) # датафрейм с разницей по строкам
lst_mul_ind = list(map(lambda x: (x[0] + 2, x[1]), df_rows.index)) # добавляем к индексу +2 чтобы соответствовать нумерации в экселе
index = pd.MultiIndex.from_tuples(lst_mul_ind, names=['№ строки', 'Таблица']) # создаем мультиндекс
df_rows.index = index

In [187]:
#получаем список колонок первого уровня
temp_first_level_column = list(map(lambda x:x[0],df_cols.columns))
first_level_column = []
[first_level_column.append(value) for value in temp_first_level_column if value not in first_level_column]

[None, None, None, None, None]

In [189]:
# Добавляем колонки с абсолютной и относительной разницей
count_columns = 2
for name_column in first_level_column:
    # высчитываем абсолютную разницу
    df_cols.insert(count_columns,(name_column,'Разница между первым и вторым значением'),
                  df_cols.apply(lambda x:abs_diff(x[name_column]['Первая таблица'],x[name_column]['Вторая таблица']),axis=1))
    
    # высчитываем отношение второго значения от первого
    df_cols.insert(count_columns+1,(name_column,'% второго от первого значения'),
                  df_cols.apply(lambda x:percent_diff(x[name_column]['Первая таблица'],x[name_column]['Вторая таблица']),axis=1))
    
    # высчитываем процентное изменение 
    df_cols.insert(count_columns+2,(name_column,'Изменение в процентах'),
                  df_cols.apply(lambda x:change_perc_diff(x[name_column]['Первая таблица'],x[name_column]['Вторая таблица']),axis=1))
    
    count_columns +=5

In [190]:
df_cols

         Амурская область                 \
           Первая таблица Вторая таблица
№ строки
4                   12026          11000
5                       5              0
6                       1            138
9                     NaN            NaN
20                    NaN            NaN
22                    NaN            NaN

                                                  \
         Разница между первым и вторым значением
№ строки
4                                         1026.0
5                                            5.0
6                                         -137.0
9                                            NaN
20                                           NaN
22                                           NaN

                                                              \
         % второго от первого значения Изменение в процентах
№ строки
4                                91.47                 -8.53
5                                 0.00               -100.00
6                             13800.00              13700.00
9                                  NaN                   NaN
20                                 NaN                   NaN
22                                 NaN                   NaN

         Воронежская область                 \
              Первая таблица Вторая таблица
№ строки
4                        NaN            NaN
5                        NaN            NaN
6                       1449          523.5
9                        NaN            NaN
20                       NaN            NaN
22                       NaN            NaN

                                                  \
         Разница между первым и вторым значением
№ строки
4                                            NaN
5                                            NaN
6                                          925.5
9                                            NaN
20                                           NaN
22                                           NaN

                                                              ...  \
         % второго от первого значения Изменение в процентах  ...
№ строки                                                      ...
4                                  NaN                   NaN  ...
5                                  NaN                   NaN  ...
6                                36.13                -63.87  ...
9                                  NaN                   NaN  ...
20                                 NaN                   NaN  ...
22                                 NaN                   NaN  ...

            Unnamed: 38                 \
         Первая таблица Вторая таблица
№ строки
4                   NaN            NaN
5                   NaN            NaN
6                   NaN            NaN
9                     5              0
20                  NaN            NaN
22                  NaN            NaN

                                                  \
         Разница между первым и вторым значением
№ строки
4                                            NaN
5                                            NaN
6                                            NaN
9                                            5.0
20                                           NaN
22                                           NaN

                                                                Unnamed: 41  \
         % второго от первого значения Изменение в процентах Первая таблица
№ строки
4                                  NaN                   NaN            NaN
5                                  NaN                   NaN            NaN
6                                  NaN                   NaN            NaN
9                                  0.0                -100.0            NaN
20                                 NaN                   NaN            NaN
22                                 NaN                   NaN           2373

                                                                 \
         Вторая таблица Разница между первым и вторым значением
№ строки
4                   NaN                                     NaN
5                   NaN                                     NaN
6                   NaN                                     NaN
9                   NaN                                     NaN
20                  NaN                                     NaN
22                  NaN                                     NaN


         % второго от первого значения Изменение в процентах
№ строки
4                                  NaN                   NaN
5                                  NaN                   NaN
6                                  NaN                   NaN
9                                  NaN                   NaN
20                                 NaN                   NaN
22                                 NaN                   NaN

[6 rows x 25 columns]

df_cols['new'] = df_cols.apply(lambda x:abs_diff(x['Воронежская область']['Первая таблица'],x['Воронежская область']['Вторая таблица']),axis=1)

df_cols['second'] = df_cols.apply(lambda x:percent_diff(x['Воронежская область']['Первая таблица'],x['Воронежская область']['Вторая таблица']),axis=1)

In [191]:
df_cols

         Амурская область                 \
           Первая таблица Вторая таблица
№ строки
4                   12026          11000
5                       5              0
6                       1            138
9                     NaN            NaN
20                    NaN            NaN
22                    NaN            NaN

                                                  \
         Разница между первым и вторым значением
№ строки
4                                         1026.0
5                                            5.0
6                                         -137.0
9                                            NaN
20                                           NaN
22                                           NaN

                                                              \
         % второго от первого значения Изменение в процентах
№ строки
4                                91.47                 -8.53
5                                 0.00               -100.00
6                             13800.00              13700.00
9                                  NaN                   NaN
20                                 NaN                   NaN
22                                 NaN                   NaN

         Воронежская область                 \
              Первая таблица Вторая таблица
№ строки
4                        NaN            NaN
5                        NaN            NaN
6                       1449          523.5
9                        NaN            NaN
20                       NaN            NaN
22                       NaN            NaN

                                                  \
         Разница между первым и вторым значением
№ строки
4                                            NaN
5                                            NaN
6                                          925.5
9                                            NaN
20                                           NaN
22                                           NaN

                                                              ...  \
         % второго от первого значения Изменение в процентах  ...
№ строки                                                      ...
4                                  NaN                   NaN  ...
5                                  NaN                   NaN  ...
6                                36.13                -63.87  ...
9                                  NaN                   NaN  ...
20                                 NaN                   NaN  ...
22                                 NaN                   NaN  ...

            Unnamed: 38                 \
         Первая таблица Вторая таблица
№ строки
4                   NaN            NaN
5                   NaN            NaN
6                   NaN            NaN
9                     5              0
20                  NaN            NaN
22                  NaN            NaN

                                                  \
         Разница между первым и вторым значением
№ строки
4                                            NaN
5                                            NaN
6                                            NaN
9                                            5.0
20                                           NaN
22                                           NaN

                                                                Unnamed: 41  \
         % второго от первого значения Изменение в процентах Первая таблица
№ строки
4                                  NaN                   NaN            NaN
5                                  NaN                   NaN            NaN
6                                  NaN                   NaN            NaN
9                                  0.0                -100.0            NaN
20                                 NaN                   NaN            NaN
22                                 NaN                   NaN           2373

                                                                 \
         Вторая таблица Разница между первым и вторым значением
№ строки
4                   NaN                                     NaN
5                   NaN                                     NaN
6                   NaN                                     NaN
9                   NaN                                     NaN
20                  NaN                                     NaN
22                  NaN                                     NaN


         % второго от первого значения Изменение в процентах
№ строки
4                                  NaN                   NaN
5                                  NaN                   NaN
6                                  NaN                   NaN
9                                  NaN                   NaN
20                                 NaN                   NaN
22                                 NaN                   NaN

[6 rows x 25 columns]

In [192]:
df_cols.to_excel('da.xlsx')

In [ ]:
#получаем список колонок первого уровня
temp_first_level_column = list(map(lambda x:x[0],df_diff_cols.columns))
first_level_column = []
[first_level_column.append(value) for value in temp_first_level_column if value not in first_level_column]

# Добавляем колонки с абсолютной и относительной разницей
count_columns = 2
for name_column in first_level_column:
    # высчитываем абсолютную разницу
    df_diff_cols.insert(count_columns,(name_column,'Разница между первым и вторым значением'),
                  df_diff_cols.apply(lambda x:abs_diff(x[name_column]['Первая таблица'],x[name_column]['Вторая таблица']),axis=1))
    
    # высчитываем отношение второго значения от первого
    df_diff_cols.insert(count_columns+1,(name_column,'% второго от первого значения'),
                  df_diff_cols.apply(lambda x:percent_diff(x[name_column]['Первая таблица'],x[name_column]['Вторая таблица']),axis=1))
    
    # высчитываем процентное изменение 
    df_diff_cols.insert(count_columns+2,(name_column,'Изменение в процентах'),
                  df_diff_cols.apply(lambda x:change_perc_diff(x[name_column]['Первая таблица'],x[name_column]['Вторая таблица']),axis=1))
    
    count_columns +=5