In [338]:
import pandas as pd
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows

In [339]:
def change_name_discipline(cell):
    # Функция для установки заглавной буквы для содержимого ячейки
    #очищаем от пробельных символов спереди и сзади
    value = cell.strip()
    # Делаем заглавным первый символ
    out_value = f'{value[0].upper()}{value[1:]}'

    return out_value

In [340]:
df = pd.read_excel('Баторова.xlsx',skiprows=6)

In [341]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,сем,Unnamed: 4,сем.1,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,3.0,1ОПИ21а,Иностранный язык,3.000000,51.0,3.000000,66.0,117.0,14.0,103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.0,Баторова,NaN
1,3.0,1ОГР21а,Иностранный язык,3.000000,51.0,3.000000,66.0,117.0,14.0,103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.0,Баторова,NaN
2,3.0,1ХИМ21а,Иностранный язык,3.000000,51.0,3.000000,66.0,117.0,14.0,103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.0,Баторова,NaN
3,1.0,2ИС20а,Иностранный язык в в ПД,2.000000,32.0,2.375000,38.0,70.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,Баторова,NaN
4,2.0,3ХИМ19а,Иностранный язык в профессиональной деятельности,1.818182,20.0,1.764706,30.0,50.0,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,Баторова,NaN

In [342]:
df.columns = ['№/пп','Наименование группы','Наименование дисциплины','1 семестр кол 1','1 семестр кол 2','2 семестр кол 1','2 семестр кол 2','Всего часов',
'Теория','ЛПЗ','Учебная практика','Производственная практика','Преддипломная практика','Руководство над курсовым проектом','Консультации','Контроль (экзамены, зачеты и т.д.)',
 'Руководство ВКР','ИТОГО','Преподаватель','Промежуточные суммы']

In [343]:
df.tail()

,№/пп,Наименование группы,Наименование дисциплины,1 семестр кол 1,1 семестр кол 2,2 семестр кол 1,2 семестр кол 2,Всего часов,Теория,ЛПЗ,Учебная практика,Производственная практика,Преддипломная практика,Руководство над курсовым проектом,Консультации,"Контроль (экзамены, зачеты и т.д.)",Руководство ВКР,ИТОГО,Преподаватель,Промежуточные суммы
19,3.0,1ОГР21а-2,Иностранный язык,3.0,51.0,3.0,66.0,117.0,14.0,103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.0,Баторова,366.0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,Зам. директора по УВР,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,ознакомлен,Преподаватель,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [344]:
df = df[df['Наименование группы'].notna()]

In [345]:
# Очищаем от пробелов перед и после слов
df['Наименование группы'] =df['Наименование группы'].apply(lambda x:x.strip())
df['Наименование дисциплины'] = df['Наименование дисциплины'].apply(lambda x:change_name_discipline(x) if type(x) == str else x)

In [346]:
df = df[df['Наименование группы'] !='ознакомлен']

In [347]:
df.sort_values(by='Наименование дисциплины',inplace=True)

In [348]:
wb = openpyxl.Workbook()
ws = wb.active

In [349]:
for r in dataframe_to_rows(df, index=False, header=True):
    if 'внебюджет'  in r:
        break
    ws.append(r)

In [350]:
for cell in ws['A'] + ws[1]:
    cell.style = 'Pandas'

wb.save("pandas_openpyxl.xlsx")